<li class="nav-home nav-current">
    <a href="/new/">首页<small>Home</small></a>
    <a href="/new/about">关于<small>About</small></a>
    <a href="/new/archive">文章<small>Archive</small></a>
    <a href="/new/research">研究<small>Researches</small></a>
    <a href="/new/course">课程<small>Courses</small></a>
    <a href="/new/people">人员<small>People</small></a>
</li>
