<li class="nav-home nav-current">
    <a href="/"><span>首页</span><span><small>Home</small></span></a>
    <a href="/about"><span>关于</span><span><small>About</small></span></a>
    <a href="/archive"><span>文章</span><span><small>Archive</small></span></a>
    <a href="/research"><span>研究</span><span><small>Researches</small></span></a>
    <a href="/course"><span>课程</span><span><small>Courses</small></span></a>
    <a href="/people"><span>人员</span><span><small>People</small></span></a>
</li>
