@media only screen and (min-width:48rem) {
    .research-nav__left li {
        margin-bottom: 0;
        margin-right: 20px !important;
        position: relative
    }
}

.nav-home.nav-current {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-home a {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0;
    margin-bottom: 0px;
    width: 40px;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 2;
}

.dumb-padding {
    width: calc(3.2%);
    /*! background: red; */
}

h4 {
    font-size: 1.2rem !important;
}

.excerpt {
    line-height: 1.65rem;
    font-weight: 400 !important;
    margin-top: 14px;
}

.research-nav {
    font-size: 0.9rem !important;
}

h5 {
    font-weight: 450;
}

.nextlab-content h5 {
    margin-top: 10px;
}

.people-wrapper {
    max-width: 1060px !important;
    padding: 0 !important;
}

@media only screen and (min-width:48rem) {
    .research-nav {
        display: flex;
        align-items: center;
        justify-content: space-between
    }
}

.research-nav__left {
    margin-bottom: 30px
}

@media only screen and (min-width:48rem) {
    .research-nav__left {
        margin-bottom: 0
    }
}

.research-nav__left ul {
    padding: 0;
    margin: 0
}

@media only screen and (min-width:48rem) {
    .research-nav__left ul {
        display: flex;
        align-items: center
    }
}

.research-nav__left li {
    color: var(--titles-color);
    letter-spacing: .3px;
    font-size: 0.95 rem;
    margin-bottom: 15px
}

@media only screen and (min-width:48rem) {
    .research-nav__left li {
        margin-bottom: 0;
        margin-right: 0px;
        position: relative
    }
}

.research-nav__left li:last-of-type {
    margin-bottom: 0
}

@media only screen and (min-width:48rem) {
    .research-nav__left li:last-of-type {
        margin-right: 0
    }
}

.research-nav__left li.nav-current {
    font-weight: 600
}

.research-nav__left li a {
    color: inherit
}

.research-nav__left li.more a {
    display: inline-flex;
    align-items: center
}

@media only screen and (min-width:48rem) {
    .research-nav__left li.more a {
        display: flex
    }
}

.research-nav__left li.more a span {
    display: inline-block;
    color: inherit;
    font-size: .375rem;
    margin-left: 8px;
    transform: translateY(1px)
}


/*
.research-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow-y: auto;
    z-index: 2;
    background-color: var(--transparent-background-color);
    -webkit-overflow-scrolling: touch;
    transform: scale(1.2);
    transition: all .4s cubic-bezier(.165, .84, .44, 1)
}*/

.research-menu.opened {
    visibility: visible;
    opacity: 1;
    z-index: 10;
    transform: scale(1)
}

@media only screen and (min-width:200px) {
    .research-menu {
        visibility: visible!important;
        position: relative;
        top: auto;
        left: auto;
        height: auto;
        opacity: 1!important;
        overflow: initial;
        background-color: transparent;
        transform: translateZ(0)!important
    }
}

.research-menu__main {
    padding: 50px 0 5px;
    min-height: 100%
}

@media only screen and (min-width:200px) {
    .research-menu__main {
        padding: 0;
        min-height: 0
    }
}

.rtl .research-menu__main {
    padding-top: 75px
}

@media only screen and (min-width:200px) {
    .rtl .research-menu__main {
        padding: 0
    }
}

.research-grid {
    padding-bottom: 20px
}

@media only screen and (min-width:200px) {
    .research-grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        flex-direction: column;
    }
}

@media only screen and (min-width:200px) {
    .research-grid {
        margin: 0 -20px
    }
}

@media only screen and (min-width:200px) {
    .research-grid.centered {
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width:200px) {
    .research-grid.centered {
        justify-content: center;
        align-items: center;
    }
}

.research-grid .m-article-card {
    width: 90% !important;
}

@media only screen and (min-width:64rem) {
    .research-grid .m-article-card {
        width: calc(33.3% - 40px) !important;
    }
}

.research-grid.centered.post-wrapper {
    flex-direction: row !important;
}

@media only screen and (max-width: 700px) {
    .m-heading-title.in-post {
        margin-top: 40px !important;
    }
    .m-nav__left li.nav-current {
        flex-direction: column !important;
    }
    .nav-home a {
        font-size: 1.5rem !important;
        width: 200px;
        margin-bottom: 30px !important;
        flex-direction: row !important;
    }
    .nav-home a span {
        margin-right: 15px !important
    }
    .m-hero-title.bigger {
        font-size: 4rem !important;
    }
    .m-hero-title {
        line-height: 1 !important;
        margin: 0 0 0 !important;
    }
    .m-hero-description.bigger {
        font-size: 13.5pt !important;
        letter-spacing: 3.5px !important;
    }
    .m-common-hero-title.bigger {
        font-size: 3rem !important;
    }
    .m-common-hero-title {
        line-height: 1 !important;
        margin: 0 !important;
    }
    .m-common-hero-description.bigger {
        font-size: 18pt !important;
    }
    .research-nav__left ul {
        display: flex !important;
    }
    .research-nav__left li {
        margin: 0 10px 0 !important;
    }
    .l-wrapper.people-wrapper.aos-init.aos-animate {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0px;
    }
    .l-grid.teachers .m-article-card {
        /*width: calc(50% - 20px) !important;
        height: calc(50% + 110px);
        flex-shrink: 0;*/
        margin: 0 10px 60px !important;
    }
    .l-grid.teachers .m-article-card .m-article-card__picture {
        width: 100% !important;
        flex-shrink: 0;
    }
    .l-grid.teachers .m-article-card__picture::after {
        display: block;
        content: "";
        padding-bottom: 100%;
    }
    .l-grid.students .m-article-card {
        /*width: calc(50% - 20px) !important;
        height: calc(50% + 110px);
        flex-shrink: 0;*/
        margin: 0 10px 60px !important;
    }
    .l-grid.students .m-article-card .m-article-card__picture {
        width: 100% !important;
        flex-shrink: 0;
    }
    .l-grid.students .m-article-card__picture::after {
        display: block;
        content: "";
        padding-bottom: 100%;
    }
    .l-grid.graduates .m-article-card {
        /*width: calc(50% - 20px) !important;
        height: calc(50% + 110px);
        flex-shrink: 0;*/
        margin: 0 10px 60px !important;
    }
    .l-grid.graduates .m-article-card .m-article-card__picture {
        width: 100% !important;
        flex-shrink: 0;
    }
    .l-grid.graduates .m-article-card__picture::after {
        display: block;
        content: "";
        padding-bottom: 100%;
    }
}

.people-picture {
    /*padding-top: 100% !important;*/
}

@media only screen and (min-width: 64rem) {
    .people-card {
        width: calc(25% - 40px) !important;
    }
}

@media only screen and (max-width: 64rem) {
    .m-featured-article__title {
        color: #eee;
    }
    .m-featured-article__picture {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        filter: brightness(40%);
    }
    .nextlab-featured-content {
        top: 0px !important;
        left: 0px !important;
        position: absolute;
        z-index: 4 !important;
        width: 100% !important;
    }
    .m-featured-article__ribbon {
        top: 20px !important;
        left: 20px !important;
    }
    .m-featured-article__ribbon {
        color: #fff !important;
    }
    .info {
        color: #fff !important;
    }
    .m-featured-article__timestamp {
        color: #fff !important;
        bottom: 10px !important;
    }
    .m-featured-article__content {
        position: absolute !important;
        top: 90px !important;
        left: 20px !important;
    }
    .m-featured-article__tag {
        top: 50px !important;
        left: 20px !important;
        position: absolute !important;
    }
    .l-grid.teachers {
        display: flex;
        flex-wrap: wrap;
    }
    .l-grid.students {
        display: flex;
        flex-wrap: wrap;
    }
    .l-grid.graduates {
        display: flex;
        flex-wrap: wrap;
    }
    .people-card {
        width: calc(50% - 20px);
    }
    .people-title {
        margin-left: 10px;
        margin-right: 10px;
    }
}